$desc-top-height: 200px;
$desc-main-height: 400px;
$desc-card-height: 200px;
$desc-sign-height: 70px;


$top-color: #dedede;
$main-color: #424242;
$sign-color: black;
$card-color: #d5d5d5;
$contacts-color: #0068fd;
